body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    display: inline-block;
}

.statistics-link {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.statistics-link:hover {
    text-decoration: underline;
}

main {
    position: relative;
    flex: 1;
    display: flex;
}

#map {
    width: 100%;
    height: calc(100vh - 140px); /* Высота карты минус высота header и footer */
}

.slider-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container label {
    margin-bottom: 10px;
}

.slider-container input[type="range"] {
    width: 100%;
    margin: 20px 0;
}

.slider-container .slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-container button:hover {
    background-color: #45a049;
}

.weather-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.weather-container p {
    margin: 5px 0;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Стили для баннера */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 123, 255, 0.9);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000; /* Убедитесь, что баннер отображается поверх карты */
    font-size: 18px;
    width: 80%;
    max-width: 600px;
}

.banner p {
    margin: 0;
}
